.add-question-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-question-container {
  display: flex;
  margin: 20px;
  height: 500px;
  flex-direction: column;
}

.label {
  justify-self: start;
  margin-top: 20px;

}

.form {
  height: 500px;
}

.btn {
  margin-top: 20px;
}
