.qc-wrap {
  display: flex;
  gap: 16px;
  padding: 20px;
  background: #f5f6f8;
  flex-wrap: wrap;
  justify-content: space-around;
}

.qc {
  width: 320px;
  height: max-content;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items:center;
  justify-content:center;

}


.qc-body {
  padding: 5px;
  width: 300px;;
  max-height: 100%;
}

.qc-head {
  display: flex;
  justify-content: space-between;
  align-items:self-start;
}

.qc-title {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}
.qc-quiz {
  width: 200px;
  height: 100px;
}

h4 {
  height: 10px;
}

.qc-desc {
  font-size: 13px;
  color: black;
    text-align: left;
    display: flex;

}

p {
  text-align: left;
  font-size: 13px;

}

.qc-badge {
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 11px;
}

.pub {
  background: green;
  color: white;
}

.draft {
  background: #ccc;
}

.qc-foot {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.qc-btn {
  background: blue;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.qc-icon {
  margin-left: 5px;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.del {
  background: #ffe5e5;
  border-radius: 5px;
}